
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10%;
    
}

p {
    font-size: 18px;
}

img {
    width: 500px;
}

@media screen and (max-width: 1024px) {
    .container {
     
        flex-direction: column;
    }
    .img
    {
        animation: fly 2s;
        width: 200px;
    }
    .content-container{
        font-size: 20px;
        color: brown;
    }
    @keyframes fly {
        60%
            {
                transform: rotate(-560deg);
            }
           50%
            {
            transform: translateY(-100px);
            }
            40%
            {
                transform: scaleY(50%);
            }
        }
    
    
}
@media screen and (max-width: 767px) {
    .container {
     
        flex-direction:column-reverse;
    }
    .img
    {
        width: 300px;
        
        animation: fly 2s;
    }
    .content-container{
        font-size: 30px;
        color: rgb(165, 42, 144);
    }
    @keyframes fly {
        60%
            {
                transform: rotate(-360deg);
            }
           50%
            {
            transform: translateX(-30px);
            }
            
        }
}

@media screen and (max-width: 479px) {
    .container {
     
        flex-direction: column;
    }
    .img
    {
        width: 100px;

        animation: fly 2s;
    }
    .content-container{
        font-size: 20px;
        color: black;
        
    }
    @keyframes fly {
    60%
        {
            transform: rotate(360deg);
        }
       50%
        {
        transform: translateX(30px);
        }
        
    }
}

.content-container button {
    background-color: black;
    color:white;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;

}
.copyright
{
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(20, 1, 1); 
    display: flex;
  justify-content: center;
  position:sticky;
  bottom: 10px;
  right: 50%;
  
}