
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10%;
}

.content-container {
    color: blue;
}

p {
    font-size: 18px;
}

img {
    width: 500px;
}
